# environment
node_data/
zig-out/
.zig-cache/
src/crypto/blst/blst
src/crypto/blst/wrapper

# object files
*.o
src/crypto/blst
src/crypto/blst/wrapper

# logs
node.log
node.pid
node1.log
*.c
*.md

# dependencies
node_modules/
.DS_Store

# artifacts
tests/artifacts/
works.md
reports/
scripts/
contract/
temp-polkavm/
contracts/bin/resolc

# fozbin and resolved files
*.fozbin
*.resolved

#md file
tasks copy.md
tasks copy 2.md
tasks.md

# Solana VM
//sig/
/src/vm/solana
/src/vm/solana_shared
sig/